[Unit]
Description=Inverter poller

[Service]
ExecStart=/opt/inverter-mqtt/entrypoint.sh
WorkingDirectory=/opt/inverter-mqtt

[Install]
WantedBy=multi-user.target
